<h1>Identity and Choice: The Limits of Entrepreneurial Strategy</h1>
<h2>(working paper)</h2>
<h2>with Jorge Guzman</h2>
<p>In contrast to the traditional model of the firm, a startup is fundamentally inseparable from its founder. This paper demonstrates that the strategic decisions of startups are determined by a tradeoff between the conflicting professional and personal motivations of their founders. Drawing from identity salience theory, we model the utility function of entrepreneurs and derive theoretical insights into empirically-observed patterns of behavior...</p>